__pycache__

# crawler
crawler/images/
crawler/logs/

# train
train/data/*/*/*/*.jpg
train/data/*/*/*/*.png
train/data/*/*/*/*.jpeg

# mlflow
train/mlruns

# artifact
*.pt
eval.txt
!backend/model/mobilenet*.pt

# gradcam
gradcam/heatmap/*

# venv
venv/

# edit
train/data/edit/*