@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #ffffff;
}

p {
  min-height: 1.5em;
}

.button {
  @apply px-6 py-2 rounded-md mt-4 font-bold hover:translate-y-0.5 transform transition;
}

.changeButton {
  @apply button text-white bg-sky-700 hover:bg-sky-600;
}

.sendButton {
  @apply button text-white bg-rose-900 hover:bg-rose-800;
}

.newtralButton {
  @apply button text-gray-700 dark:text-gray-300 bg-gray-300 dark:bg-gray-700 hover:bg-gray-400 hover:dark:bg-gray-600;
}

.icon {
  @apply inline-flex justify-center items-center w-10 h-10 text-center text-gray-500 hover:bg-gray-100 rounded-full focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-white transition dark:hover:text-gray-200 dark:hover:bg-gray-800;
}
